/*
   Author

   Name: Mamun;
   Mail: almamun613@gmail.com;
*/
/*
 	====Index===
	1.body
	2.

*/

/*Global CSS */
body{
	font-family: 'Roboto', sans-serif!important;
	font-size: 18px!important;
}

h1{
	color: #31353e;
    font-size: 30px;
    display: block;
    margin: 0px auto;
    font-weight: bold;

}

h2{
	font-size: 30px;
	font-weight: bold;
    color: #fff;

} 	

h3{
	font-size: 24px;
	font-weight: bold;
	color: #31353e;
    text-align: center;
    padding-top: 35px;
}

h4{

}

p{
  text-align: center;
    font-size: 15px;
    font-weight: 100;
    padding-top: 15px;
    color: #fff;

}

li{
	display: block;
    text-align: center;
    color: #fff;

}


.img-center{
	display: block;
	margin: 0px auto;
}

.no-padding{
	padding: 0px;
}

/*Theme CSS */

.nav-head{
	background-color: #edeff1!important;
	padding: 30px;
}
.nav-item{
	
}
.nav-link {
    color: #161616!important;
    margin: 0px 5px;
    font-size: 18!important;
}
.nav-link.js-scroll-trigger.active {
    background-color: #26a6d1;
    color: #fff !important;
    border-radius: 25px;
    padding: 8px 30px;
}
.fa.fa-optin-monster{
	color: #73003F;
	font-size: 25px;
}

/*Hero Section*/

.hero{
	background: url(../img/bg.png)no-repeat;
	background-size: cover;
	font-family: 'Roboto Slab', serif!important;
}
.hero-title{
	text-align: center;
    padding-top: 140px;
    padding-bottom: 30px;
    
}
.food-div{

}
.food-item{
	text-align: center;
}
.hero h2 {
    font-size: 49px;
    color: #fff;
    
}
.hero p {
    color: #fff;
    text-align: center;
}
.hero h4{
	 text-align: center;
	font-size: 30px;
	color: #fff;
}
.hero h6{
	font-size: 15px;
	color: #fff;
}
.food-img {
    padding: 125px 0px 25px;
}
.btn-one{
	background-color: #99c50a;
    color: #fff;
    display: block;
    margin: 75px auto 135px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
}

/*Facilisis at Section*/

.facilisis-title {
	text-align: center;
}
.facilisis-title h1{
	color: #31353e;
    font-size: 30px;
    display: block;
    margin: 0px auto;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Roboto Slab', serif;
}

.bg-light p{

}
.btn-two{
   background-color: #ffffff;
    color: #161616;
    display: block;
    margin: 30px auto 100px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
}
.btn-one-1{
    background-color: #26a6d1;
    color: #fff;
    display: block;
    margin: 50px auto 100px;
    font-size: 15px;
    
    padding: 8px 15px;
    border-radius: 20px;
    border: none;

}
.btn-one-2{
    background-color: #99c50a;
    color: #fff;
    display: block;
    margin: 50px auto 100px;
    font-size: 15px;
    
    padding: 8px 15px;
    border-radius: 20px;
    border: none;

}

/*Ante donec at Section*/
.ante-class{
	    background-color:#e2f8ff!important;
}
.ante-title{
    
	
	font-family: 'Roboto Slab', serif;

}
.ante-class2{
        background-color: #f5f9eb!important;
}
.ante-title2{
    
    
    font-family: 'Roboto Slab', serif;

}

.part-1{

}
.part-2{
    
}
.txt-part-1 {
    text-align: center;

}
.txt-part-1 p{
    color: #161616;

}

.btn-three {
    background-color: #ffffff;
    color: #612316;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 50px;
    border-radius: 50px;
    border: none;
    position: absolute;
    top: 73%;
    right: 0%;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2.25rem;
    background: transparent;
    position: relative;
    padding: 22px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
input::placeholder {
  color: #fff!important;
}
/*Blandit rhoncus at Section*/
.blan{

}

.blan-title{
		text-align: center;
		
}
.blan-title h5{
	font-size: 16px;
	font-weight: 200!important;
	text-align: left;
	padding-top: 25px;
	
	
}
.blan-title h4{
	font-size: 16px;
	font-weight: 200!important;
	text-align: left;
	padding-top: 25px;

}
.btn-four{
	background-color: #dd4b2b;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 50px;
    border-radius: 50px;
    border: none;
}
.blan-img{
	border-width:5px;  
    border-style:solid;
    border-color: #DCCAD4;

}
.blan-title h1{
	color: #31353e;
    font-size: 30px;
    margin: 0px auto;
    font-weight: bold;
    float: left;
}
.blan-title-2{
	padding-top: 40px;

}
.food-img-2{
	border-width:5px;  
    border-style:solid;
    border-color: #DCCAD4;

}
.blan-text{
	padding-top: 40px;
}
.blan-text h5{
	font-size: 16px;
	font-weight: 200!important;
	text-align: left;
	padding-top: 25px;
}
.btn-prl{
	background-color: #4b4e73;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 50px;
    border-radius: 50px;
    border: none;
}



.place{
	background-color: #fff;
	color: #fff;
}
.place ul{
	text-decoration: none;
	list-style: none;
}

.foot-img{
	background: url(../img/bg-2.png)no-repeat;
	background-size: cover;

}
/*mobile divice starts*/

@media(min-width:0px)and (max-width: 500px){
	
.hero h2 {
    font-size: 30px;
    color: #fff;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px auto;
}
.blan-title {
    text-align: center;
    padding-bottom: 20px;
}
.btn-three {
    background-color: #ffffff;
    color: #612316;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 50px;
    border-radius: 50px;
    border: none;
    position: absolute;
    top: 76%;
    right: 0%;
}
.btn-four {
    background-color: #dd4b2b;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 50px;
    border-radius: 50px;
    margin: 0px 75px;
    border: none;
}
.btn-prl {
    background-color: #4b4e73;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 50px;
    border-radius: 50px;
    border: none;
    margin: 0px 75px;
}
.blan-title h4 {
    font-size: 16px;
    font-weight: 200!important;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 10px;
}
.blan-text h5 {
    font-size: 16px;
    font-weight: 200!important;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 10px;
}

}
	/*mobile divice ends*/